/*html {*/
	/*height: 100%;*/
	/*width: 100%;*/
/*}*/

body {
	background-color: #252b37 !important;
}

.center-splash {
	position: fixed;
	top: 50%;
	left: 50%;
	text-align: center;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
