/*html {*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

body {
	background-color: #252b37 !important;
	padding-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6, p, label {
	color: #ffffff;
}

.center-splash {
	position: fixed;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

#navbar-collapse {
	margin-top: -4.5%;
	color: #000;
}

@media only screen and (min-width: 768px) {
	.text-right-sm {
		text-align: right;
	}
}

footer {
	background-color: black;
	padding: 1rem 0;
	/*margin-top: 3rem;*/
	color:white;
}

.formandsignout {
	right: 5rem;
	top: .5rem;
	position: absolute;
	z-index: 15;
}


.logo {
	display: flex;
	z-index:15;
	align-items: center;
}

.navbar {
	height:85px;
}

.links {
	padding-top:1%;
}

.logo-image {
	width:20%;
}

/*@media only screen and (min-width: 1344px) {*/
	/*.logo {*/
		/*text-align: center;*/
	/*}*/
/*}*/

@media only screen and (max-width: 767px) {
	.logo-image {
		width:30%;
	}

	.logo {
		/*display: flex;*/
		/*justify-content: center;*/
		/*position: absolute;*/
		/*width: 50%;*/
		/*left: 0;*/
		/*top: 0;*/
		margin: -7% 0 0 36%;
	}
}

.submit {
	padding:5px;
}

#feed {
	text-align:center;
}

#splashLogo {
	height: auto;
	max-width: 50rem;
}