<phpunit>
	<testsuites>
		<testsuite name="GigHub Data Design">
			<!--<file>OAuthTest.php</file>-->
			<!--<file>ProfileTypeTest.php</file>-->
			<!--<file>ProfileTest.php</file>-->
			<!--<file>VenueTest.php</file>-->
			<!--<file>PostTest.php</file>-->
			<!--<file>TagTest.php</file>-->
			<!--<file>ProfileTagTest.php</file>-->
			<file>PostTagTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../</directory>
		</whitelist>
	</filter>

</phpunit>